<header class="header">
  <div class="header__bar">
    <h1>
      <span>転クエ掲示板</span>
    </h1>
    <ul class="header__bar__user_nav">
      <li class="user_name">
        <span><%= current_user.name %> さん</span>
      </li>
      <li class="header__bar__user_nav__btn">
        ログアウト
      </li>
      <li class="header__bar__user_nav__btn">
        <%= link_to "投稿する", new_post_path %>
      </li>
    </ul>
    <ul class="header__bar__user_nav">
      <li class="header__bar__user_nav__btn">
        ゲストログイン
      </li>
      <li class="header__bar__user_nav__btn">
        ログイン
      </li>
      <li class="header__bar__user_nav__btn">
        新規登録
      </li>
    </ul>
  </div>
</header>