<%# エラーメッセージの部分テンプレート %>
  <% if object.errors.any? %>
  <% byebug %>
    <div class="vali_alert">
      <ul>
        <% object.errors.full_messages.each do |message| %>
        <% byebug %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
